<h1>Hello World</h1>
{{title}}
<app-login></app-login>
<app-signup></app-signup>
<div [ngSwitch]='color'>
    <h2 style="color: red;" *ngSwitchCase="'red'">
        Red color
    </h2>
    <h2 style="color: yellow;" *ngSwitchCase="'Yellow'">
        Yellow color
    </h2>
    <h2 style="color: blue;" *ngSwitchCase="'blue'">
        blue color
    </h2>
</div>

<!-- <h3 *ngFor="let item of data">
Name : {{item.name}} (Age) :{{item.age}}
</h3> -->

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email Id</th>
    </tr>
    <tr *ngFor="let item of data">
        <td>
            {{item.name}}
        </td>
        <td>
            {{item.age}}
        </td>
        <td>
            {{item.email}}
        </td>
    </tr>
</table>